*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.parent
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  overflow: auto;
}
.parent::-webkit-scrollbar
{
  display:none;
}
.poster
{
  max-width:100%;
  height:auto;
}



