*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: var(--primary-background-color);
}
:root
{
  --secondary-text-color:#D1D5DB;
  --primary-background-color:#06202A;
}
body
{
  overflow-x: hidden;
}



