span
{
    font-family: 'Bebas Neue', cursive;
    color:var(--primary-text-color);
    letter-spacing:0.2rem;
    font-size: 2rem;
    
}

.main__div
{
    padding:1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0px;
    z-index: 999;
}

.main__div > form > input
{
    padding:0.5rem;
    border-radius: 15px;
    border:2px solid var(--secondary-text-color);
    color:var(--secondary-text-color);
    max-width:300px;
    width:300px;
    outline:none;
    
}
::placeholder
{
color:var(--secondary-text-color);
}

.header__icons .MuiSvgIcon-root
{
    color:var(--primary-text-color);
    cursor: pointer;
}

.searchResults
{
    display: flex;
    flex-direction: column;
    max-width:500px;
    max-height:300px;
    overflow-y:auto;
    position:absolute;
    top:60px;
    left:35%;
    row-gap:0.5rem;
    border:1px solid var(--secondary-text-color);
}
.search__tile
{

    width:inherit;
    max-height:100px;
    display: flex;
    border:1px solid var(--primary-background-color);
}
.search__tile:hover{
    border:1px solid var(--secondary-text-color);
    cursor:pointer;
}
.search__tile > img
{
    max-width:200px;
    max-height: inherit;
}


@media screen and (max-width:700px)
{
    .main__div
    {
        flex-direction: column;
        align-items:center;
        row-gap: 0.75rem;
    }
    .main__div .header__icons
    {
        order: -1;
    }
    .searchResults
    {
        left:0;
        top:150px;
    }
}