.header__section
{
 padding:0.5rem;
 padding-top: 2rem;
 width:100%;
 display: flex;
 justify-content: center; 
 column-gap: 2rem;  
}
.backdrop
{
    
    max-width:400px;
    max-height:500px;
}
.backdrop > img
{
    max-width:400px;
    height:400px ;
    object-fit: contain;
}
.header__info
{
    font-family: 'Nunito','sans-serif';
    max-width: 600px;
    
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    height:auto;
}
.top__section
{
    display: flex;
    width:inherit;
    justify-content: space-between;
}
.top__section > h2
{
    color:var(--secondary-text-color);
}

.top__section > span
{
    margin-left:2rem;
}

.mid__section
{
    font-family: 'Nunito','sans-serif';
    color:var(--secondary-text-color);
}
.mid__section > span
{
    color:var(--secondary-text-color);
    font-size: 0.8rem;
    font-family: 'Nunito','sans-serif';
    
}
.mid__section > h4,p
{
    margin-top: 2rem;
    text-align: justify;
}

@media screen and (max-width:768px) {
    .header__section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .top__section
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    .mid__section span{
        align-self: center;
        display: block;
        text-align:center;
    }
}